.serie {
  width: 100%;
}

.paintings {
  display: flex;
  position: relative;
  height: 500px;
  max-height: 66vh;
  display: flex;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.paintings img {
  width: auto;
  height: 100%;
  scroll-snap-align: center;
  /*box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);*/
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  object-fit: contain;
}

.serie article {
  margin: 1rem auto auto auto;
}

.paintings img + img {
  margin-left: 2rem;
}

.serie article a,
.serie article {
  max-width: calc(var(--container-width));
  position: relative;
  font-size: 0.875rem;
  color: #454545;
}

.serie .controls {
  margin: auto;
  max-width: calc(var(--container-width));
}

.serie .extra-links {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: square;
}

.serie .title {
  margin-bottom: 0rem;
}

.serie article h2,
.serie article h1 {
  text-align: center;
}

.serie article h1 {
  /*color: black;
  margin-bottom: 0;
  text-transform: capitalize;*/
}

.serie article h2 {
  margin: 0;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 100;
}

.serie .extra-links,
.serie article p {
  line-height: 2;
}

.serie article p + p {
  margin-top: 1.75rem;
}

@media (max-width: 600px) {
  .paintings {
    height: 256px;
  }
}
