---
layout: default
title: Exhibitions
---

<main class="exhibitions">
  <h2 class="title" id="exhibitions">Exhibitions</h2>
  {% assign exhibitionsByDate = site.data.exhibitions | group_by_exp:"exhibition", "exhibition.date.from | date: '%Y'" %}
  {% for date in exhibitionsByDate %}
  <div class="per-year">
    <div>
      <a id="exhibition-{{date.name}}" href="#exhibition-{{date.name}}">{{date.name}}</a>
    </div>
    <ul>
      {% for exhibition in date.items %}
      <li>
        <p class="description">{{ exhibition.description }}</p>
        <p class="location">{{ exhibition.location }}</p>
        <a class="website" rel="noopener" target="_blank" href="{{ exhibition.link }}">{{ exhibition.link }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
  
  <h2 class="title" id="press">Press</h2>
  {% assign PressByDate = site.data.press | group_by_exp:"press", "press.date | date: '%Y'" %}
  {% for date in PressByDate %}
  <div class="per-year">
    <div>
      <a id="press-{{date.name}}" href="#press-{{date.name}}">{{date.name}}</a>
    </div>
    <ul>
      {% for press in date.items %}
      <li>
        <p class="description">{{ press.title }}</p>
        <p class="location">{{ press.location }}</p>
        {% if press.local %}
        <a class="website" rel="noopener" target="_blank" href="{{ press.link | prepend: "/assets/uploads/" }}">
          {{ press.link | prepend: "/assets/uploads/" | absolute_url }}
        </a>
        {% else %}
        <a class="website" rel="noopener" target="_blank" href="{{ press.link}}">
          {{ press.link }}
        </a>
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}

</main>
