<div class="controls">
    {% for item in site.data.portfolio | sort: "year" %}
        {% if page.url contains item.link %}
            {% assign index = forloop.index0 %}
            {% assign size = site.data.portfolio | size %}
            {% assign previous = index | minus: 1 %}
            {% assign next = index | plus: 1 %}
            {% if previous == -1 %}
                {% assign previous = size | minus: 1 %}
            {% endif %}
            {% if next == size %}
                {% assign next = 0 %}
            {% endif %}
            <a href="{{ site.data.portfolio[previous].link }}" class="previous">
            <svg>
              <use xlink:href="/assets/images/icons.svg#arrow" />
            </svg>
            {{ site.data.portfolio[previous].name }} / {{ site.data.portfolio[previous].year }}
            
            </a>
            <a href="{{ site.data.portfolio[next].link }}" class="next">
            <svg>
              <use xlink:href="/assets/images/icons.svg#arrow" />
            </svg>
            {{ site.data.portfolio[next].name }} / {{ site.data.portfolio[next].year }}
            </a>
        {% endif %}
    {% endfor %}    
</div>
