.controls {
  font-size: 0.75rem;
  padding: 1.5rem 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: color 0.25s ease-in-out;
}

.controls a {
  color: var(--gray);
  text-decoration: none;
  position: relative;
  padding-top: 1.25rem;
}

.controls a:hover {
  transition: color 0.2s ease-in-out;
  color: white;
}

.controls a::before {
  content: "";
  position: absolute;
  mask-image: url(/assets/images/arrow.svg);
  height: 16px;
  top: 0;
  right: 0.5rem;
  width: 16px;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 16px;
  background: var(--gray);
  transition: 0.25s ease-in-out;
}

.controls a:hover::before {
  right: 0;
  background: white;
  transition: all 0.2s ease-out;
}

.controls a.previous:hover::before {
  left: 0;
}

.controls .previous::before {
  transform: rotateZ(180deg);
  left: 0.5rem;
}
