body {
  margin: 0;
  padding: 0;
  background: rgb(13, 13, 13);
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Avenir,
    Avenir Next,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif
}

* {
    box-sizing: border-box;
}


main {
  margin: auto auto;
}

header {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}

header nav a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid transparent;
    padding-bottom: 0.25rem;
    transition: 0.2s ease border-color;
}

header nav a.current,
header nav a:hover {
    border-bottom: 1px solid black;
    /*transition: border-color 0.2s linear;*/
}

.splashscreen {
  height: calc((100vh - 400px));
  margin: auto auto;
}

.homepage {
    display: flex;
}

.splashscreen img {
  width: 100%;
  height: 100%;
  margin: 0;
  float: left;
  object-fit: cover;
  box-shadow:
  0 10px 15px -3px rgba(199, 166, 147, .4),
  0 4px 6px -2px rgba(128, 79, 54, .3)
}




.logo {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  color: black;
}


header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

header nav ul li:last-child {
  margin-right: 0;
}



footer {
    color: gray;
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
}





.biography {
  width: 50%;
  margin: 0 auto
}


.biography p {
    font-size: 0.875rem;
    text-align: justify;
    line-height: 1.5;
}


.portfolio-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto;
    width: 80%;
    grid-gap: 2rem;
}

.portfolio-list a {
    width: 25vw;
    height: 25vw;
    overflow: hidden;
}

.portfolio-list a:nth-child(odd) { 
    justify-self: flex-end;
}

.portfolio-list a img {
  width: 100%;
  object-fit: cover;
}

.pouet {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    width: 50%;
    top: 0;
    height: 100vh;
    bottom: 0;
    right: 0;
    padding: 0 0 4rem 0;
    background: rgb(13, 13, 13);
    color: #454545;
}

.pouet-content {
    
    position: relative;
    font-size: 0.875rem;
    margin: auto;
    padding: 1rem 2rem;
    line-height: 2;
    max-width: 512px;
    flex: 1;
}

.pouet-header {
    // position: fixed;
    top: 0;
    width: 50%;
    right: 0;
    z-index: 5;
    padding: 4rem;
    
    background: linear-gradient(to bottom, rgb(13, 13, 13) 70%, transparent  100%); 
}

.pouet h1 {
    max-width: 500px;
    margin: auto;
    color: white;
    text-transform: capitalize;
    margin-bottom: 2rem;
}


.painting {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50%;
}

.painting img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pouet-content *::-moz-selection,
.pouet-content *::selection {
    background: rgb(49, 49, 49);
    color: rgb(2,2,2);
}


.pouet-content p + p {
    margin-top: 1.75rem;
}
