body {
  --container-width: 960px;
  --gray: #454545;
  --border-size: 2rem;

  margin: 0;
  padding: 0;
  padding: var(--border-size);
  // background: rgb(13, 13, 13);
  font-family: -apple-system, BlinkMacSystemFont, Avenir, Avenir Next, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

main {
  margin: auto;
  margin-top: 1rem;
  flex: 1;
}

.page-404 * {
  text-align: center;
}

.page-404 h1 {
  margin: 30px 0;
  font-size: 4em;
  line-height: 1;
  letter-spacing: -1px;
}
