.work {
  width: 100%;
  max-width: calc(var(--container-width));
}

.work-description {
  position: relative;
  font-size: 0.875rem;
  color: #454545;
  margin: auto;
  line-height: 2;
}

.pouet-header {
  // position: fixed;
  top: 0;
  width: 50%;
  right: 0;
  z-index: 5;
  padding: 4rem;
  background: linear-gradient(to bottom, rgb(13, 13, 13) 70%, transparent 100%);
}

.work-description h1 {
  color: black;
  margin-bottom: 0;
  text-transform: capitalize;
}

.work-description h2 {
  margin: 0;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 100;
}

.painting {
  display: flex;
  position: relative;
  //top: var(--border-size);
  height: 500px;
  max-height: 60vh;
  // bottom: var(--border-size);
  // left: var(--border-size);
}

.painting img {
  margin: 0 auto;
  height: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  object-fit: contain;
}

.work-description p + p {
  margin-top: 1.75rem;
}

@media (max-width: 600px) {
  .painting {
    width: 100%;
    height: auto;
  }
}
