<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% vite '/assets/css/style.css', 'link', { rel: 'stylesheet' } %}
    {% vite '/assets/images/favicon.svg', 'link', { rel: 'icon', type: 'image/svg+xml' } %}
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="{{ site.author }}">
    <meta name="theme-color" content="#ffffff"/>
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0">
    <title>{{ title }} - {{ site.author }}</title>
    {% vite '/assets/js/turbo.js', 'script' %}
    {%- for link in js -%}{% vite link, 'script' %}{%- endfor -%}
    {%- for link in css -%}{% vite link, 'link', { rel: 'stylesheet' } %}{%- endfor -%}
    {%- bootVite -%}
    <!-- Website made by Yann Prono, https://github.com/Mcdostone/marion-colomer-website-->
  </head>
  <body>
    {%- include "partials/navigation.njk" -%}
    <main class="{{ class }}">{{ content | safe }}</main>
  </body>
</html>
