<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:url" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="{{ site.author }}">
    <meta name="theme-color" content="#ffffff"/>
    <meta name="description" content="{{ site.description }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0">
    <title>{{ title }} - {{ site.author }}</title>
    {% for link in js %}<script type="module" src="{{link}}"></script>{% endfor %}
    {% for link in css %}<link rel="stylesheet" href="{{link}}">{% endfor %}
  </head>

  </head>
  <body>
    {% include "partials/navigation.njk" %}
    <main class="{{ class }}">{{ content | safe }}</main>
  </body>
</html>
