.biography {
  display: grid;
  max-width: calc(var(--container-width) + 6rem);
  max-width: var(--container-width);
  grid-template-columns: 2fr 1fr;
  width: 100%;
  grid-gap: 2rem
}

.portrait {
  width: 100%;
  height: auto
}

.biography .portrait,
.biography article {
  align-self: center
}

.biography p {
  color: var(--gray);
  font-size: 0.875rem;
  text-align: justify;
  line-height: 2
}

.biography p:first-child {
  margin-top: 0
}

.biography h1 {
  color: white
}

@media (max-width: 800px) {
  .biography {
    display: flex;
    flex-direction: column-reverse
  }

  .portrait {
    width: 50%;
    margin: 0 auto
  }
}

@media (max-width: 600px) {
  .portrait {
    width: 100%
  }
}
