html {
  padding: 0;
  margin: 0
}

body {
  position: relative;

  --border-size: 2rem;
  --container-width: calc(960px + var(--border-size) * 2);
  --gray: #454545;
  --dark: #1a1a1a;

  margin: 0;
  padding: 0;
  font-family:
    Helvetica,
    -apple-system,
    BlinkMacSystemFont,
    Avenir,
    Avenir Next,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  display: grid;
  grid-template-columns: 1fr min(var(--container-width), 100%) 1fr;
  grid-template-rows: auto
}

* {
  box-sizing: border-box
}

.full-bleed {
  width: 100%;
  padding: 0;
  grid-column: 1 / 4
}

body > header {
  padding: var(--border-size)
}

body > * {
  padding-left: var(--border-size);
  padding-right: var(--border-size);
  grid-column: 2
}

main {
  margin: auto;
  margin-top: 1rem;
  margin-bottom: var(--border-size);
  flex: 1
}

.page-404 * {
  text-align: center
}

.page-404 h1 {
  margin: 30px 0;
  font-size: 4em;
  line-height: 1;
  letter-spacing: -1px
}
