.exhibitions {
  --gap: 1.5rem
}

.exhibitions .title {
  margin-bottom: 1rem
}

.exhibitions #press {
  margin-top: 3rem
}

.per-year {
  display: grid;
  grid-template-columns: 35px auto
}

.per-year > div:first-child a {
  font-weight: 200;
  text-decoration: none;
  color: inherit;
  scroll-margin-top: 1rem
}

.per-year + .per-year {
  margin-top: var(--gap)
}

.exhibitions ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: var(--gap) 0;
  min-width: 0;
  flex: 1 1 0
}

.exhibitions li > * {
  margin: 0;
  overflow-wrap: break-word
}

.press,
.exhibitions li > * + * {
  margin-top: 0.25rem
}

.description::first-letter {
  text-transform: capitalize
}

.description,
.website,
.location {
  color: black;
  font-size: 0.875rem
}

.website,
.location {
  color: var(--light-gray)
}

.website:hover {
  color: black
}

@media (max-width: 600px) {
  .portrait {
    width: 100%
  }

  .per-year > div:first-child a {
    font-weight: 400
  }
}
