.portfolio {
  width: 100%;
  max-width: var(--container-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.portfolio-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center
}

.portfolio-item + .portfolio-item {
  margin-top: 3rem
}

.portfolio-item > a {
  width: 50%;
  color: black
}

.portfolio-item .title {
  text-align: right
}

.portfolio-item > div {
  padding-left: 2rem;
  width: 100%;
  flex: 1
}

.portfolio-item .year {
  font-size: 1rem;
  font-weight: 100;
  text-align: right;
  margin: 1rem 0 1.5rem
}

.portfolio-item img {
  width: 100%;
  height: auto;
  float: left;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%)
}

.serie {
  width: 100%;
  padding: 0
}

.serie article {
  padding: 0 var(--border-size);
  margin: 1rem auto auto
}

.paintings {
  position: relative;
  display: flex;
  overflow-x: auto;
  padding-bottom: 1rem;
  align-self: center
}

.paintings a {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  margin-left: 2rem;
  scroll-snap-align: center
}

.paintings img {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  object-fit: contain;
  width: auto;
  max-height: 66vh;
  height: 500px;
  float: left
}

.serie article a,
.serie article {
  max-width: calc(var(--container-width));
  position: relative;
  font-size: 0.875rem;
  color: var(--dark)
}

.serie .controls {
  margin: auto;
  max-width: calc(var(--container-width))
}

.serie .extra-links {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  list-style-type: square
}

.serie .title {
  margin: 3rem 0 0
}

.serie article h2,
.serie article h1 {
  text-align: center
}

.serie article h2 {
  margin: 0;
  margin-bottom: 2.5rem;
  font-size: 1rem;
  font-weight: 100
}

.serie .extra-links,
.serie article p {
  line-height: 2
}

.serie article p + p {
  margin-top: 1.75rem
}

.portfolio-item .title a {
  color: var(--dark);
  text-decoration: none
}

.paintings a:last-child {
  margin-right: 2rem
}

.portfolio-item .title a:hover,
.portfolio-item > a:hover + div .title a {
  text-decoration: underline
}

@media (max-width: 600px) {
  .paintings {
    display: flex;
    align-items: flex-end
  }

  .paintings img {
    width: 66vw;
    height: auto;
    max-height: 66vh
  }

  .portfolio-item > a {
    width: 100%
  }

  .exhibitions ul {
    padding-left: 1rem
  }

  .portfolio-item img {
    width: 100%
  }
}

@media (max-width: 800px) {
  .portfolio-item {
    flex-direction: column
  }

  .portfolio-item .title {
    margin-top: 1rem;
    font-size: 10vmin
  }

  .portfolio-item .year,
  .portfolio-item .title {
    text-align: center
  }

  .serie .title {
    margin-top: 1.5rem
  }

  .serie article h2 {
    margin-bottom: 1.5rem
  }

  .portfolio-item > div {
    padding: 0
  }
}
