.home {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slideshow {
  overflow: hidden;
  height: 510px;
  width: 100%;
  margin: 0 auto;
}

.slide-wrapper {
  overflow: hidden;
  width: 100%;
}

.slide {
  float: left;
}

#splashscreen .slide .button {
  margin: 0 auto;
  margin-top: 2rem;
}

/*
#splashscreen {
  // position: absolute;
  // top: 0;
  // right: 0;
  // width: 50%;
  // bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

#splashscreen .slide > div {
  padding: 2rem;
  flex: 1;
}

#splashscreen .slide + .slide {
  margin-top: 4rem;
}

#splashscreen .slide .title {
  margin: 0;
  font-size: 3.5rem;
  font-weight: 100;
  text-align: center;
  color: #1a1a1a;
}

#splashscreen .slide {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#splashscreen .slide .year {
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
  margin-left: 0;
}

#splashscreen img {
  width: 100%;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

@media (max-width: 800px) {
  #splashscreen .slide {
    flex-direction: column;
  }

  #splashscreen .slide .title {
    font-size: 10vmin;
  }
}

@media (max-width: 500px) {
  #splashscreen img {
    width: 100%;
  }
}

*/
