---
layout: layouts/base.njk
title: Exhibitions
class: exhibitions
---

{% set isHttp = r/^https?.*/g %}

<h2 class="title" id="exhibitions">Exhibitions</h2>
{% for perYear in exhibitions | groupByYear("date.from") %}
<div class="per-year">
  <div>
    <a id="exhibition-{{perYear.year}}" href="#exhibition-{{perYear.year}}">{{perYear.year}}</a>
  </div>
  <ul>
    {% for exhibition in perYear.items %}
    <li>
      <p class="description">{{ exhibition.description }}</p>
      <p class="location">{{ exhibition.location }}</p>
      <a class="website" rel="noopener" target="_blank" href="{{ exhibition.link }}">{{ exhibition.link }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endfor %}


<h2 class="title" id="press">Press</h2>
{% for perYear in press | groupByYear("date") %}
<div class="per-year">
  <div>
    <a id="press-{{perYear.year}}" href="#press-{{perYear.year}}">{{perYear.year}}</a>
  </div>
  <ul>
    {% for item in perYear.items %}
    <li>
      <p class="description">{{ item.title }}</p>
      <p class="location">{{ item.location }}</p>
      <a class="website" rel="noopener" target="_blank" href="{{ item.link  }}">
        {% if isHttp.test(item.link) %}
        {{ item.link }}
        {% else %}
        {{ item.link | replace("/assets/uploads/", "") }}
        {% endif %}
      </a
    </a>
  </li>
  {% endfor %}
</ul>
</div>
{% endfor %}
