---
layout: default
---
{% if page.index %}
{% assign item = site.data.portfolio[page.index] %}
<main class="serie">
  <div class="paintings">
    {% for image in item.images %}
      {% responsive_image_block %}
        path: {{ 'assets/images/portfolio/' | append: image.src }}
      {% endresponsive_image_block %}
    {% endfor %}
  </div>
  <article>
    <h1 class="title">{{ item.name }}</h1>
    <h2>—  {{ item.year }}  —</h1>
      {{ content }}
      {% if item.extra_links %}
      <ul class="extra-links">
        {% for extra in item.extra_links %}
        <li><a href="{{ extra.link }}">{{ extra.name }}</a></li>  
        {% endfor %}
      </ul>
      {% endif %}
    </article>
    {% include controls.html %}
</main>
{% endif %}
  