---
layout: layouts/base.njk
class: portfolio
title: Portfolio
---
{%- for item in portfolio -%}
  <div class="portfolio-item">
    <a href="{{ item.link | url }}">
      {%- pictureAsset "/assets/images/portfolio/" + item.images[0].src, { alt: item.name + " serie" } -%}
    </a>
    <div>
      <h2 class="title"><a href="{{ item.link | url }} ">{{ item.name }}</a></h2>
      <div class="year">{{ item.year }}</div>
    </div>
  </div>
{%- endfor -%}
