<div class="controls">
  {%- set sorted = portfolio | sort(false, false, 'year') -%}
  {%- for item in sorted -%}
    {%- if page.url in item.link -%}
      {%- set index = loop.index0 -%}
      {%- set size = sorted | length -%}
      {%- set previous = index - 1 -%}
      {%- set next = index + 1 -%}
      {%- if previous == -1 -%}
          {%- set previous = size - 1 -%}
      {%- endif -%}
      {%- if next == size -%}
          {%- set next = 0 -%}
      {%- endif -%}
      <a href="{{ sorted[previous].link }}" class="previous">
      <span></span>
      {{ sorted[previous].name }} / {{ sorted[previous].year }}
      </a>
      <a href="{{ sorted[next].link }}" class="next">
      <span></span>
      {{ sorted[next].name }} / {{ sorted[next].year }}
      </a>
    {%- endif -%}
  {%- endfor -%}
</div>
